
/*load fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nanum+Gothic:wght@700&family=Zeyada&display=swap');


:root {
    --deep-teal: #3F7173;
    --dusty-turquois:#7CBBAB;
    --darkest-green-black: #122505;
    --forest-green: #425715;
    --moss-green: #708A27;
    --title-green: #5BDFBE;
    --max-width: 930px;
}


/* universal styles */
body,
html{
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img{
  width: 100%;
   max-width: var(--max-width);
  height: auto;
}
iframe{
  width:100%;
  max-width: var(--max-width);
  aspect-ratio: 16 / 9;
}



.nav-toggle{
  color:white
}

#top{
  display:flex;
  
}


/*color variables*/


/* typography */
body{
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  background-color: var(--dusty-turquois);
  margin: 0;
}

footer{
  background:#3F7173;

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}


footer a {
  color: white;
  text-decoration:underline;
}

h1, h2, h3, h4 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 60ch;
  hyphens: none;
}

.branding {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}
h1
{font-size: 32px;}

h2
{font-size:24px;}

h3{font-size: 20px;}

p{
   max-width: var(--max-width);
}
.welcome{
  color:white;
}


@media (min-width: 768px){
  .logo img {
        width: 36vw;
  }
}

@media (min-width: 1200px){
  .logo img {
        width: 50vw;
  }
}